@page
@model TSPOnline.Pages.Monsters.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "野怪";
}

<div class="container">
    <div asp-validation-summary="All" class="my-3"></div>
    <div class="card my-3">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#attr-collapse">
                屬性快搜
            </button>
        </h5>
        <div class="collapse" id="attr-collapse">
            <div class="card-body">
                <a asp-route-Attribute="地" asp-route-Type="general"><img src="~/images/icons/earth-general.gif" /></a>
                <a asp-route-Attribute="火" asp-route-Type="general"><img src="~/images/icons/fire-general.gif" /></a>
                <a asp-route-Attribute="水" asp-route-Type="general"><img src="~/images/icons/water-general.gif" /></a>
                <a asp-route-Attribute="風" asp-route-Type="general"><img src="~/images/icons/wind-general.gif" /></a>
                <a asp-route-Attribute="心"><img src="~/images/icons/heart.gif" /></a>
                <a asp-route-Attribute="無"><img src="~/images/icons/none.gif" /></a>
                <a asp-route-Attribute="地" asp-route-Type="soul"><img src="~/images/icons/earth-soul.gif" /></a>
                <a asp-route-Attribute="火" asp-route-Type="soul"><img src="~/images/icons/fire-soul.gif" /></a>
                <a asp-route-Attribute="水" asp-route-Type="soul"><img src="~/images/icons/water-soul.gif" /></a>
                <a asp-route-Attribute="風" asp-route-Type="soul"><img src="~/images/icons/wind-soul.gif" /></a>
            </div>
        </div>
    </div>
    <div class="card my-3">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#search-collapse">
                野怪快搜
            </button>
        </h5>
        <div class="collapse" id="search-collapse">
            <div class="card-body">
                <div class="form-horizontal">
                    <form method="get" class="my-3">
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-right">最低等級</label>
                            <div class="col-10">
                                <input asp-for="MinLevel" type="number" class="form-control" value="0" min="0" max="600" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-right">最高等級</label>
                            <div class="col-10">
                                <input asp-for="MaxLevel" type="number" class="form-control" value="600" min="0" max="600" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-right">名稱</label>
                            <div class="col-10">
                                <input asp-for="Name" type="text" class="form-control" placeholder="野怪名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-right">屬性</label>
                            <div class="col-10">
                                <select asp-for="Attribute" asp-items="@Model.Attributes" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-right">類型</label>
                            <div class="col-10">
                                <select asp-for="Type" asp-items="@Model.Types" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-right">地區／地點</label>
                            <div class="col-10">
                                <input asp-for="Location" type="text" class="form-control" placeholder="出沒地區／地點" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-right">掉落物品</label>
                            <div class="col-10">
                                <input asp-for="Items" type="text" class="form-control" placeholder="掉落物品" />
                            </div>
                        </div>
                        <div class="text-right">
                            <input type="submit" class="btn btn-primary" value="搜尋" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-sm-block">
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="table-info text-center">
                    <th>等級</th>
                    <th>名稱</th>
                    <th>屬性</th>
                    <th>HP</th>
                    <th>敏捷</th>
                    <th colspan="2">技能</th>
                    <th class="text-left">地區─地點</th>
                    <th class="text-left">掉落物品</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var monster in Model.Monsters)
                {
                    <tr class="text-center">
                        <td>@monster.LV</td>
                        <td style="white-space: nowrap;">@((monster.IsSoul ? "*" : "") + monster.Name)</td>
                        <td>@monster.Attribute</td>
                        <td>@monster.HP</td>
                        <td>@(monster.AGI > 0 ? monster.AGI.ToString() : "")</td>
                        <td>@monster.Skill1</td>
                        <td>@monster.Skill2</td>
                        <td class="text-left">@monster.Location</td>
                        <td class="text-left">@monster.Items</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="d-sm-none">
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="table-info text-center">
                    <th>等級</th>
                    <th>名稱</th>
                    <th>屬性</th>
                    <th>HP</th>
                    <th>敏捷</th>
                    <th class="text-left">地區─地點</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var monster in Model.Monsters)
                {
                    <tr class="text-center">
                        <td>@monster.LV</td>
                        <td style="white-space: nowrap;">@((monster.IsSoul ? "*" : "") + monster.Name)</td>
                        <td>@monster.Attribute</td>
                        <td>@monster.HP</td>
                        <td>@(monster.AGI > 0 ? monster.AGI.ToString() : "")</td>
                        <td class="text-left">@monster.Location</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>